@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}



/* common classes */
.bg-black {
  background-color: #191C1F;
}
.text-black {
  color: #191C1F;
}
.text-yellow {
  color: #F3DE6D;
}
.bg-yellow {
  background-color: #F3DE6D;
}
.text-deep-yellow {
  color: #EBC80C;
}
.bg-deep-yellow {
  background-color: #EBC80C;
}
.text-gray {
  color: #303639;
}
.bg-gray {
  background-color: #303639;
}
.text-offgray {
  color: #77878F;
}
.bg-offgray {
  background-color: #77878F;
}
.text-pure-gray {
  color: #5F6C72;
}
.bg-bluish {
  background-color: #1B6392;
}
.bg-offwhite {
  background-color: rgba(242, 244, 245, 1);
}

/* gradients */
.bgWithDarkOverlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
      url('');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 'fixed';
  }
  
  .gradientTitle {
    background: linear-gradient(
      to right,
      rgba(27, 191, 220, 1) 1%,
      rgba(251, 199, 2, 1) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

/* responsive classes */
.main-container {
  @apply w-full mx-auto px-4 lg:px-2;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px !important;
  }
}


/* scroll to top */
 @font-face {
  font-family: 'font-awesome';
  src: url('../assets/fonts/fa/fa-solid-900.ttf') format('truetype'),
    url('../assets/fonts/fa/fa-solid-900.woff2') format('woff2');
}

.scrollToTop {
  position: fixed;
}
.scrollToTop::after {
  font-family: 'font-awesome';
  position: fixed;
  bottom: 5px;
  right: 10px;
  color: #EBC80C;
  display: block;
  content: '\f062';
  font-size: 24px;
  z-index: 999;
  cursor: pointer;
  animation: toTop 2s linear 2s infinite backwards;
}

.scrollToDown {
  position: fixed;
}
.scrollToDown::after {
  font-family: 'font-awesome';
  position: fixed;
  bottom: 5px;
  right: 15px;
  color: #EBC80C;
  display: block;
  content: '\f107';
  font-size: 24px;
  z-index: 999;
  animation: toTop 2s linear 2s infinite backwards;
}

@keyframes toTop {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}